<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <!-- Google Fonts  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/forgotpassword.css">

    <title>forgotpassword</title>
</head>

<body>
    <form id="sendOtp">
        <div class="card">
            <p>You can reset your Password here</p>
            <input id="email" name="email" type="text" class="passInput" placeholder="Email address">
            <button id="otpbutton">Send OTP</button>
    </form>

    <form id="verifyingOtp">
        <div id="otpSection" style="display: none;">
            <input id="otp" name="otp" type="text" class="passInput" placeholder="Enter OTP">
            <button type="submit" id="verifyOtpButton">Verify OTP</button>
        </div>
    </form>
    </div>

    <form id="resetpassword" action="resetpassword" method="POST" style="max-width:500px;margin:auto">
        <center>
            <h2><span class="fa-passwd-reset fa-stack"><i class="fa fa-undo fa-stack-2x"></i><i
                        class="fa fa-lock fa-stack-1x"></i></span>Reset your Password<span
                    class="fa-passwd-reset fa-stack"><i class="fa fa-undo fa-stack-2x"></i><i
                        class="fa fa-lock fa-stack-1x"></i></span></h2>
            <div class="input-container"><i class="fa fa-key icon"></i>
                <input class="input-field" id="password-1" type="password" placeholder="Type your new password"
                    name="password" oninput='validate();'>
            </div>
            <span id="pwd-length-1"></span>
            <div class="input-container"><i class="fa fa-key icon"></i>
                <input class="input-field" id="password-2" type="password" placeholder="Re-type your new password"
                    name="confirmPassword" oninput='validate();'>
            </div>
            <!-- Length  -->
            <span id="pwd-length-2"></span>
            <span id="message"></span>
            <button class="btn" id="savepassword" type="submit" disabled>Save Password</button>
    </form>

    <script>
        // Sending OTP
        document.getElementById("otpbutton").addEventListener("click", function () {
            event.preventDefault()

            const email = document.getElementById("email").value;

            if (!email) {
                alert("Please enter a valid email address.")
                return;
            }

            fetch('/sendOtp', {
                method: 'POST',
                body: JSON.stringify({ email: email }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.response === 'OTP sent successfully') {
                        document.getElementById("otpSection").style.display = "block";
                        document.getElementById("otpbutton").style.display = "none"
                    } else {
                        alert("Failed to send OTP. Please try again.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while sending OTP. Please try again.")
                });
        });

        //Verifying OTP
        document.getElementById("verifyingOtp").addEventListener("submit", function (event) {
            event.preventDefault();

            const otp = document.getElementById("otp").value;
            const email = document.getElementById("email").value;

            if (!otp) {
                alert("Please enter the OTP.");
                return;
            }

            fetch('/verifyingOtp', {
                method: 'POST',
                body: JSON.stringify({ otp: otp, email: email }),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'OTP Verified Successfully') {
                        alert("OTP Verified!");
                        document.getElementById("resetpassword").style.display = "block";
                        document.getElementById("verifyingOtp").style.display = "none";
                        document.getElementById("sendOtp").style.display = "none";
                    } else {
                        alert("Invalid OTP.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while verifying OTP. Please try again.");
                });
        });

        //Reset Password
        document.getElementById("resetpassword").addEventListener("submit", function (event) {
            event.preventDefault();

            const newPassword = document.getElementById("password-1").value;
            const confirmPassword = document.getElementById("password-2").value;
            const email = document.getElementById("email").value;

            if (!newPassword || !email) {
                alert("Email and password are required.")
                return;
            }

            if (newPassword !== confirmPassword) {
                alert("Passwords do not match.")
                return;
            }

            fetch('/resetpassword', {
                method: 'POST',
                body: JSON.stringify({ newpassword: newPassword, email: email }),
                headers: {
                    'Content-Type': 'application/json',
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert("Password updated successfully!");
                        window.location.href = data.redirect;
                    } else {
                        alert(data.message || "Failed to reset password.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while resetting the password. Please try again.");
                })
        })


        let check = function () {
            if (document.getElementById('password-1').value === document.getElementById('password-2').value) {
                document.getElementById("savepassword").disabled = false;
                document.getElementById("savepassword").style.background = 'blue';
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password Matched';
            } else {
                document.getElementById("savepassword").disabled = true;
                document.getElementById("savepassword").style.background = 'grey';
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password not matching';
            }
        };

        let validate = function () {
            if (document.getElementById('password-1').value.length < 5) {
                document.getElementById('pwd-length-1').innerHTML = 'Minimum 6 characters';
            } else {
                document.getElementById('pwd-length-1').innerHTML = '';
                check();
            }
            if (document.getElementById('password-2').value.length < 5) {
                document.getElementById('pwd-length-2').innerHTML = 'Minimum 6 characters';
            } else {
                document.getElementById('pwd-length-2').innerHTML = '';
                check();
            }
        }


    </script>
</body>

</html>